body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border-radius: 15px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin-top: 20px;
}


.logo img {
    width: 80px;
    
}

h1 {
    color: black;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group .rating span {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
}

.form-group .rating span:hover,
.form-group .rating span:hover ~ span {
    color: #f28b2b;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    width: 50%;
    margin-bottom: 10px;
    color: black;
}

.checkbox-group input {
    margin-right: 10px;
}

button {
    background-color: #f28b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: pink;
}
.parallax {
    background-image: url("cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L25zMTQ2NTEtaW1hZ2Uta3d2eWQybmIuanBn.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
